.venv
=*
*.egg-info
__pycache__
*.duckdb
logs/*
!logs/test/
logs/test/*
!logs/test/reports/
logs/test/reports/*
!logs/test/reports/latest/
logs/test/reports/latest/*
!logs/test/reports/latest/latest.*
.coverage
.mypy*